.header {
  max-width: 320px;
  margin: 0px auto 42px;
  padding: 28px 0px 0px;
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: auto;
  border-bottom: 1px solid #545454b3;
  transition: all 0.8s ease 0s;
}

@media screen and (min-width: 615px) {
  .header {
    max-width: 615px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 879px;
    margin: 0px auto 40px;
    padding: 45px 0px 0px;
  }
}