.card__image {
  width: 282px;
  height: 282px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  object-fit: cover;
}