.profile-info__name {
  max-width: 189px;
  height: 26px;
  margin: 0px 0px 14px;
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

@media screen and (min-width: 1280px) {
  .profile-info__name {
    max-width: 294px;
    height: 39px;
    margin: 0px 0px 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    font-size: 42px;
    line-height: 48px;
  }
}