.profile-info__name {
  max-width: 189px;
  height: calc(26px + 14px);
  margin: 0px;
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .profile-info__name {
    max-width: 294px;
    height: calc(39px + 16px);
    margin: 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    font-size: 42px;
    line-height: 48px;
  }
}