.footer {
  max-width: 320px;
  margin: 0px auto;
  padding: 0px;
  transition: all 0.8s ease 0s;
}

@media screen and (min-width: 615px) {
  .footer {
    max-width: 615px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 880px;
  }
}